<!DOCTYPE html>
<html lang="fr">
	 <%- include('composants/head') %> 
	<body>
	 	<table class="tableau">
		 	<% for(elm of adresses) {%>
		 		<tr>
			 		<% for(elem in elm) {%>
			 			<td><%= elm[elem] %></td>
			 		<%}%>
		 		</tr>
		 	<% } %>
	 </table>
	</body>
</html>